body {
/* eng_ 1 */


position: absolute;
width: 300px;
height: 138px;
left: 69px;
top: 22px;

background: url(eng_.png);


/* eng_ 2 */


position: absolute;
width: 300px;
height: 138px;
left: 69px;
top: 22px;

background: url(eng_.png);


/* image 1 */


position: absolute;
width: 1511px;
height: 822px;
left: 1512px;
top: 160px;

background: url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* image 2 */


position: absolute;
width: 1511px;
height: 823px;
left: 1512px;
top: 160px;

background: url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 4 */


position: absolute;
width: 376px;
height: 103px;
left: 101px;
top: 647px;

background: #2A7FFF;
border-radius: 114px;


/* Rectangle 5 */


position: absolute;
width: 376px;
height: 103px;
left: 101px;
top: 647px;

background: #2A7FFF;
border-radius: 114px;


/* Rectangle 2 */


position: absolute;
width: 148.24px;
height: 65px;
left: 1075.27px;
top: 51px;

background: #2A7FFF;
border-radius: 114px;


/* Rectangle 6 */


position: absolute;
width: 148.24px;
height: 65px;
left: 1075.27px;
top: 51px;

background: #2A7FFF;
border-radius: 114px;


/* Join Now */


position: absolute;
width: 114px;
height: 28px;
left: 1092px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Join Now */


position: absolute;
width: 114px;
height: 28px;
left: 1092px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* About */


position: absolute;
width: 97px;
height: 28px;
left: 938px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #232375;



/* About */


position: absolute;
width: 97px;
height: 28px;
left: 938px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #232375;



/* Courses */


position: absolute;
width: 97px;
height: 28px;
left: 801px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #232375;



/* Courses */


position: absolute;
width: 97px;
height: 28px;
left: 801px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #232375;



/* Home */


position: absolute;
width: 98px;
height: 28px;
left: 663px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #232375;



/* Home */


position: absolute;
width: 98px;
height: 28px;
left: 663px;
top: 70px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #232375;



/* Group 2 */


position: absolute;
width: 148.24px;
height: 65px;
left: 1264px;
top: 51px;



/* Group 3 */


position: absolute;
width: 148.24px;
height: 65px;
left: 1264px;
top: 51px;



/* TAKE A FREE TRIAL */


position: absolute;
width: 303px;
height: 39px;
left: 138px;
top: 679px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* TAKE A FREE TRIAL */


position: absolute;
width: 303px;
height: 39px;
left: 138px;
top: 679px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #FFFFFF;



/* English learning Platform */


position: absolute;
width: 388px;
height: 128px;
left: 102px;
top: 408px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

color: #232375;



/* English learning Platform */


position: absolute;
width: 388px;
height: 128px;
left: 102px;
top: 408px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

color: #232375;



/* Improve your English skills at your own pace */


position: absolute;
width: 648px;
height: 36px;
left: 101px;
top: 572px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;

  color: #232375; }
